[tool.poetry]
name = "reportseff"
version = "1.0.0"
description= "Tablular seff output"
authors = ["Troy Comi <troycomi@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage= "https://github.com/troycomi/reportseff"
repository= "https://github.com/troycomi/reportseff"
keywords= ["slurm","seff"]

[tool.poetry.dependencies]
python = "^3.7"
click = "^7.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-mock = "^3.6.1"
coverage = {extras = ["toml"], version = "^6.0.2"}
pytest-cov = "^3.0.0"
black = "^21.9b0"
flake8 = "^4.0.1"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.3"
flake8-bugbear = "^21.9.2"
flake8-import-order = "^0.18.1"
safety = "^1.10.3"
mypy = "^0.910"
types-click = "^7.1.7"
pytype = {version = "^2021.10.11", python = "3.7"}
typeguard = "^2.13.0"
flake8-annotations = "^2.7.0"
flake8-docstrings = "^1.6.0"
darglint = "^1.8.1"
Sphinx = "^4.2.0"
codecov = "^2.1.12"

[tool.poetry.scripts]
reportseff = "reportseff.console:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# pyproject.toml
[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["reportseff"]

[tool.coverage.report]
show_missing = true
fail_under = 100
